@charset "UTF-8";


:root {
    
    
            
            /* 모바일 높이 */
            --height_mo: 120px;

            /* pc 높이 */
            --height_pc: 140px;

            --banner_backColor : #eff1fd;
        
    
    
}




/* main-visual 초기화 */
.main-visual.mainArea{
    color: initial;
    height: var(--height_mo);
    min-height: initial;
}


@media (min-width: 768px) {
    .main-visual.mainArea {
        height: var(--height_pc);
        max-height: auto !important;
    }
}

@media (min-width: 1040px) {
    .main-visual.mainArea {
        background-position:50%;
        //height: auto;
        max-height: auto;
        min-height: auto !important;
    }
}

@media (min-width: 1280px) {
    .main-visual.mainArea {
        max-height: auto !important;
    }
}

@media (orientation: landscape) {
    .main-visual.mainArea {
        min-height:auto;
    }
}



/* 메인상단배너 202507 */
.wrap_mainVisBanner_area{
    padding: 20px 20px 32px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}

.mainVisBanner_area{
    display: flex;
    flex-direction: column;
    gap: 24px;

    .swiper.mainVisBanner_01{
        
        width:100%;height: 320px;display: block;
        overflow: hidden; border-radius: 24px; 
    
        .swiper-slide{
            padding: 24px;

            &.s01{background: #3777BC url('/html/page/index/assets/images/main/img_mainVisBanner_s01.png') no-repeat calc(100% + 24px) calc(100% + 38px);
                background-size: 250px;
            }
            &.s02{background: #327D66 url('/html/page/index/assets/images/main/img_mainVisBanner_s02.png') no-repeat calc(100% + 16px) calc(100% + 0px);
                background-size: 220px;
            }
            &.s03{background: #5E4CB7 url('/html/page/index/assets/images/main/img_mainVisBanner_s03.png') no-repeat calc(100% + 20px) calc(100% + 0px);
                background-size: 240px;
            }


                .ctnArea{
                    color:#fff;

                    h2.title{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 38px; /* 158.333% */
                        letter-spacing: -1px;
                    }

                    p.ctn01{
                        display: none;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: var(--font-line-height-480, 24px); /* 150% */
                        letter-spacing: var(--font-letter-spacing-tigher, -0.2px);
                        opacity: 0.9;
                    }

                    h2.title + p{margin-top: 12px;}
                }


            

            .button{
                height: 48px;
                display: inline-flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                border-radius: 8px;
                padding: 0 20px;
                background: rgba(255, 255, 255, 0.20);
                color: #fff;

                &.arrow{
                    padding: 0 50px 0 20px;
                    background: rgba(255, 255, 255, 0.20) url('/html/page/index/assets/images/main/slider_next.svg') no-repeat calc(100% - 20px) center;
                }

            }

            .ctnArea + .button{margin-top: 24px;}

        }

        .box_prevNext{
            position: absolute;
            left: 24px;
            bottom: 24px;
            background-color: rgba(0,0,0,.6);
            min-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            z-index: 10;
            padding: 3px 8px 4px;
            border-radius: 100px;
            
            
            color:#fff;

            & > * {position: relative;}

            .swiper-button-prev, .swiper-button-next{
                top: 1px;left: 0;right: 0; margin-top: 0;width: 16px;height: 16px;display: inline-block;
                background: url('/html/page/index/assets/images/main/slider_next.svg') no-repeat center center;
                background-size: cover;
            
                &::after{
                    content: none;
                }                }
            .swiper-button-prev{
                transform: rotate(180deg);
                
            }
            .swiper-button-next{

            }
            .swiper-pagination{
                width: auto;
                bottom: 0;

                .swiper-pagination-current{
                    font-weight: 700;
                }

                .swiper-pagination-total{
                    opacity: 0.8;

                }
            }

            .dash{display: inline-block;background: url('/html/page/index/assets/images/main/slider_divider.svg') no-repeat center center;
                background-size: contain;width: 13px;height: 11px;
            }


        }
    
    }
    .mainVisBanner_02{
        display: none;
        background: #E48237 url('/html/page/index/assets/images/main/mainVisBanner_02_back.png') no-repeat right bottom;
        background-size: contain;
        padding: 40px;
        min-width: 376px;
        height: 400px;
        border-radius: 24px;

        .ctnArea{
            color:#fff;

            h2.title{
            font-size: 28px;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: -0.2px;
            }
        }

        .button{
            min-width: 200px;
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            

            color: #fff;

            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -0.2px;

            &.download{
                background-color: #333;
                position: relative;

                &::after{
                    content: '';
                    display: inline-block;
                    width: 14px;height: 14px;
                    background: url('/html/page/index/assets/images/main/icon_share.svg') no-repeat center center;
                    background-size: cover;
                    margin-left: 10px;
                }
            }

        }

        .ctnArea + .button{margin-top: 20px;}
    }

}



.menu_mainCareArea{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px 64px;

    h2.title{
        color: #333;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.15px;
    }

    .list{
        margin-top: 16px;
        padding: 0;
        display: flex;

        flex-wrap: wrap;
        gap: 20px 10px;


        .item{
            flex: 1 1 30%;
            background-color: #FAFAFA;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 12px 0 20px;
        
            > div{
                display: block;
                width: 80px;
                height: 80px;
                text-align: center;

                background-repeat: no-repeat;
                background-position: center center;

                padding-top: 80px;
            
                &.icon_mainCareArea_01{
                    background-image: url('/html/page/index/assets/images/main/icon_mainCareArea_01.png');
                    background-size: 50px;
                }
            
                &.icon_mainCareArea_02{
                    background-image: url('/html/page/index/assets/images/main/icon_mainCareArea_02.png');
                    background-size: 60px;
                }
            
                &.icon_mainCareArea_03{
                    background-image: url('/html/page/index/assets/images/main/icon_mainCareArea_03.png');
                    background-size: 56px;
                }
            
                &.icon_mainCareArea_04{
                    background-image: url('/html/page/index/assets/images/main/icon_mainCareArea_04.png');
                    background-size: 76px;
                }
            
                &.icon_mainCareArea_05{
                    background-image: url('/html/page/index/assets/images/main/icon_mainCareArea_05.png');
                    background-size: 63px;
                }


                .txt{display: inline-block;}

            }

            &.empty{
                flex: 1 1 30%;
                background: transparent;
            }


            .txt{
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.15px;
            }
        }
        
    }
}

/* pc */
@media (min-width: 768px) {

    .wrap_mainVisBanner_area{
        padding: 40px 40px 60px;


        .mainVisBanner_area{
            flex-direction: row;


            .swiper.mainVisBanner_01{
                
                width:100%;height: 400px;display: block;
            
                .swiper-slide{
                    width:100% !important;
                    padding: 40px 50px;

                    &.s01{background: #3777BC url('/html/page/index/assets/images/main/img_mainVisBanner_s01.png') no-repeat calc(100% + 24px) calc(100% + 38px);
                        background-size: 70%;
                    }
                    &.s02{background: #327D66 url('/html/page/index/assets/images/main/img_mainVisBanner_s02.png') no-repeat calc(100% + 0px) calc(100% + 0px);
                        background-size: 56%;
                    }
                    &.s03{background: #5E4CB7 url('/html/page/index/assets/images/main/img_mainVisBanner_s03.png') no-repeat calc(100% + 70px) calc(100% + 0px);
                        background-size: 62%;
                    }

                    h2.title{
                        font-size: 28px;
                        font-weight: 500;
                        line-height: 38px; /* 158.333% */
                        letter-spacing: -0.2px;
                    }

                    p.ctn01{
                        display: block;
                    }

                    h2.title + p{margin-top: 16px;}

                    .button{


                    }

                    .ctnArea + .button{margin-top: 48px;}

                }

                .box_prevNext{

                    left:50px;

                    & > * {}

                    .swiper-button-prev, .swiper-button-next{
                    
                        &::after{
                            
                        }
                    }
                    .swiper-button-prev{
                        
                    }
                    .swiper-button-next{

                    }
                    .swiper-pagination{


                        .swiper-pagination-total{

                        }
                    }

                    .dash{
                    }


                }
            
            }
            .mainVisBanner_02{display: block;}

        }



    }

    .menu_mainCareArea{

        padding: 0 90px 32px;

        .list{

            display: flex;
            justify-content: space-between;

            .item{
                flex: none;
                width: 180px;

                &.empty{
                    flex: none;
                    background: transparent;
                }


            }
        }
    }


}




/* 배너 */

.banner_card_area{position: relative;bottom:0;z-index: 30;padding-top: 0;}

.banner_card_area .swiper.mv .swiper-wrapper{height: calc(100% - var(--height_mo));}

/* 모바일 높이값 배경컬러 */
.banner_card_area .banner_card{
    margin: 0;
    background-color: var(--banner_backColor);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 모바일 높이값 */
.banner_card_area .banner_card img{
    /* PB */
    height: auto;
    /* 개발 */
    /* height: var(--height_mo); */
}

.banner_card_area .banner_card.pc{display: none;}
.banner_card_area .banner_card.mo{display: flex;height: 100%;}

.banner_card_area .banner_card.hand{
    cursor: pointer;
}

/* 메인 스와이프 배너 */
.banner_card_area .mainBannerSwiper{
    height: calc(var(--height_mo));
}

@media (min-width: 480px){
    .banner_card_area .banner_card img{
        height: var(--height_mo);
    }
}


@media (min-width: 768px) {
    .banner_card_area .banner_card.pc{display: flex;}
    .banner_card_area .banner_card.mo{display: none;}

    /* pc 높이값 */
    .main-visual:has(> .banner_card_area) .banner_card_area .banner_card{
        height:var(--height_pc);
    }
    
    /* PB */
    .banner_card_area .banner_card img{height: var(--height_pc);}
    /* 개발 */
    /* .banner_card_area .banner_card img{height: auto;} */

    /* 메인 스와이프 배너 */
    .main-visual .mainBannerSwiper{
        height: calc(var(--height_pc));
    }
}


























/* 메인배너 swipe*/
.main-visual .mainBannerSwiper{
    /* 메인.html 참조 */
    max-width: 100%;
}

.main-visual .mainBannerSwiper .swiper-slide{
    width: 640px;
}

.main-visual .mainBannerSwiper .swiper-slide a{position: relative;z-index: 100;cursor: pointer;}


.main-visual .mainBannerSwiper .swiper-slide:after{

    background: none;

}

.main-visual .mainBannerSwiper .swiper-button-next,
.main-visual .mainBannerSwiper .swiper-button-prev{
    width: 28px;height: 28px;
}

.main-visual .mainBannerSwiper .swiper-button-prev{
    left: calc(50% - 350px - 28px); /**/
}
.main-visual .mainBannerSwiper .swiper-button-next{
    right: calc(50% - 350px - 28px);
}


.main-visual .mainBannerSwiper .swiper-button-next:before, 
.main-visual .mainBannerSwiper .swiper-button-prev:before{

    background-image: url('/html/page/index/assets/images/icon/icon_arrow_right02.svg');

}


.main-visual .mainBannerSwiper .swiper-pagination{
    width: auto;top: 15px;
    padding: 0;
    --tw-translate-x:0;
    left: 20px;
}


.main-visual .mainBannerSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: rgb(51, 51, 51, 1);
    width:6px;
}
.main-visual .mainBannerSwiper .swiper-pagination .swiper-pagination-bullet{
    background-color: rgb(51, 51, 51, 0.5);
}

@media (min-width: 768px) {

    .main-visual .mainBannerSwiper .swiper-pagination{
        left: calc(50% - 350px + 30px);
    }
}



/* 자세히보기 UI */
/* black 버전 */ 
#visual .text-scroll{display: flex;flex-direction: column;}


.text-scroll.is-white.is-black{color:#333;}

.text-scroll.is-white.is-black:after {
    background-image: url(/html/page/index/assets/images/ico-scroll-arrow-white_02_black.svg)
}

@media (min-width: 768px) {
    .text-scroll.is-white.is-black i {
        background-image: url(/html/page/index/assets/images/ico-scroll-mouse-white_02_black.svg)
    }
}

